body {
	font-family: 'Poppins', sans-serif;
	background-color: #fcde67;
	color: black;
}

.singleOption {
  width:100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  background-color:black;
  border-radius: 20%;
  /*box-shadow: 5px 1px 20px  gray;*/
  color:white;
}

.select {
  width:100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  background-color: #009933;
}

.wrong {
  width:100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  background-color:#ff471a;
}

.wrong:hover, .select:hover, .singleOption:hover{
  box-shadow: 0 4px 6px -1px black;
}

.shadow-quiz{
  box-shadow: 0 10px 15px -3px black;
}

.shadow-home{
  box-shadow: 0 4px 6px -1px black;
}

.loading{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
